# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.lock
*-lock.json

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.DS_Store
/data/
/ui/admin/node_modules/
/ui/www/node_modules/
/.idea/

